#app {
  font-family: "Montserrat", sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}

.card-product {
  border-radius: 15px;
}

.card-title {
  font-size: 17px;
  font-weight: bolder;
}

.card p {
  font-size: 15px;
}

.card img {
  width: 200px;
  height: 180px;
}

.breadcrumb {
  background-color: hsl(208, 19%, 83%);
  text-decoration: none;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #333;
}

.navbar-brand img {
  width: 50px;
}

.img-fluid {
  border-radius: 15px;
}

.btn-buy:hover {
  background-color: #2b1700;
  color: #fff;
}

.btn-fei:hover {
  background-color: #5e4932;
  color: #fff;
}

.btn-fei {
  background-color: #583710;
  color: rgb(228, 213, 213);
}

.btn-buy {
  background-color: #583710;
  color: rgb(228, 213, 213);
}

.bg-fei {
  background-color: #583710;
  color: #fff;
}

.text-fei {
  color: #583710;
}

.carousel {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  margin-left: 30px;
  z-index: 551;
  color: #2b1700;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: none;
    max-width: none;
  }
}
